body {
        background: #CCC;
}
@media only screen and (min-width: 959px) {
        body {
                background: #CCC;
        }
        #content {
                margin: auto;
                border: 1px solid #999;
                width: 959px;
        }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}

.block-label {
        font-weight: bold;
        font-size: 16px;
        width: 100%;
        display: block;
}

.block-input {
        width: 100%;
        display: block;
        height: 30px;
        margin: 0;
        border-left: none;
        border-right: none;
        border-top: none;
        border-bottom: dashed 1px #999;
}
.btn {
        background: none;
        border: 1px solid black;
        height: 30px;
}
.control-padding {
        padding: 5px;
}
.center-my-guts {
        width: 100%;
        text-align: center;
}