<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Vintauri</title>
	<link rel="stylesheet" type="text/css" href="/app.css">  
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div id="header"></div>
	<div id="content"></div>
	<div id="footer"></div>
	<div id="alerts"></div>

	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="/js/handlebars-v1.1.2.js"></script>
	<script type="text/javascript" src="/js/handlebars-helpers.js"></script>
	<script type="text/javascript" src="/js/app/util.js"></script>
	<script type="text/javascript" src="/js/app/ui.js"></script>
	<script type="text/javascript" src="/js/app/pages.js"></script>
	<script type="text/javascript" src="app.js"></script>

</body>
</html>