
<style type="text/css">
	@media only screen and (min-width: 480px) {
		.login-control-box {
			position: absolute;
			top: 30%;
			left: 20%;
			right: 20%;
			padding: 2.5px;
			text-align: left;
			z-index: 3;
			margin: auto;
		}		
	}
	@media only screen and (max-width: 480px) {
		.login-control-box {
			position: absolute;
			top: 30%;
			left: 0;
			right: 0;
			padding: 2.5px;
			text-align: left;
			margin: auto;
		}		
	}


	.login-control-content {
		background: white;
		border: 1px dashed #CCC;
		-moz-animation-duration: 0.4s;
		-moz-animation-name: slidein;
		-webkit-animation-duration: 0.4s;
		-webkit-animation-name: slidein;		
	}

@-moz-keyframes slidein {
	from {
		margin-bottom: 200%;
		margin-top: -200%;
	}

	to {
	}
}
@-webkit-keyframes slidein {
	from {
		margin-bottom: 200%;
		margin-top: -200%;
	}

	to {
	}
}

div.curtains {
	-moz-animation-duration: 1.4s;
	-moz-animation-name: curtains;
	-moz-animation-play-state: paused;
	-webkit-animation-duration: 1.4s;
	-webkit-animation-name: curtains;		
	-webkit-animation-play-state: paused;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
}
	@-moz-keyframes curtains {
		from {

		}
		5% {
			background: red;
		}
		80% {
			bottom: 100%;
			background: red;
			top: -100%;
		}
		to {
			bottom: 100%;
			background: red;
			top: -100%;
		}
	}

	@-webkit-keyframes curtains {
		from {

		}
		5% {
			background: red;
		}
		80% {
			bottom: 100%;
			background: red;
			top: -100%;
		}
		to {
			bottom: 100%;
			background: red;
			top: -100%;
		}
	}
</style>
<div id="login-curtains" class="curtains">
	<div class="login-control-box">
		<div class="login-control-content">
			<div class="center-my-guts">
				<h1>Vintauri</h1>
			</div>
			<div class="control-padding">
				<input class="block-input" type="text" id="login-username" name="username" placeholder="Email">
				
				<input class="block-input" type="password" id="login-password" name="password" placeholder="Password">
				<div class="center-my-guts">
					<button class="btn">Submit</button>
				</div>
			</div>
		</div>
	</div>
</div>