
<div id="login-curtains" class="curtains paused">
	<div class="curtain-texture">
		<div class="login-control-box">
			<div class="login-control-content">
				<div class="center-my-guts">
					<h1>Vintauri</h1>
				</div>
				<div class="control-padding">
					<input class="block-input" type="text" id="login-username" name="username" placeholder="Email">
					
					<input class="block-input" type="password" id="login-password" name="password" placeholder="Password">
					<div class="center-my-guts">
						<button class="btn">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>